.wrapper{
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(-45deg,  #EA5C54  0%,#bb6dec 100%);
    height: 100vh;
    text-align: center;
}

.mainContainer{
    display:  flex;
    flex-direction: column;
    width: 30%;
    margin: 50px auto;
    background: rgba( 32, 28, 28, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    height: 400px;
}
.mainContainer > h2 {
    color: white;
    font-weight: 500;
}
.formContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}
.formContainer>div:nth-child(1), 
.formContainer>div:nth-child(2){
    height: 40px;
    background: rgba(32, 28, 28, 0);
    border-bottom: 0.05em solid rgb(129, 98, 98);
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(101, 127, 134);
}

.inputText{
    background: rgba(32, 28, 28, 0);
    outline: none;
    border: none;
    width: 80%;
    height: 90%;
    font-size: 17px;
    color: rgb(245, 219, 219);
    
}

.btns{
    display: flex;
    margin:  15px auto;
    justify-content: space-evenly;
    width: 90%;
    height: 40px;
    align-items: center;
}

.btns >div > a:hover{
    text-decoration: underline;
    color: rgb(177, 165, 147);
}

.btn{
    background-color: #2195f300;
    outline: none;
    border: 1px solid #afe7e4;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 15px;
    color: #DC6180;
    font: 25px;
}

.btn:hover{
    background-color: #DC6180;
    color: rgba(197, 197, 226, 0.774);
    border: none;
}

.disclaimer{
    height: 50px;
    padding: 5px;
    color: rgba(170, 135, 135, 0.938);
}

.disclaimer > a {
    text-decoration: underline;
    color: rgb(131, 113, 113);
}