.container{
    width: 80%;
    padding: 1% 5%;
    margin: 0 auto;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: white;
}
.main{
    padding: 3% 0;
    background: rgba(109, 220, 207, 1) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}