.table {
  border: 1px solid black;
  border-collapse: collapse;
}
.table > * {
  border: 1px solid black;
  border-collapse: collapse;
}
.table > tbody > tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.table > tr {
  height: 55px;
  padding-left: 10px;
}
