.constainer,.main{
    text-align: center;
}
.main{
    width: 100%;
    background: rgba( 32, 28, 28 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 4% 0;
    color: white;
    height: fit-content;
}
.container{
    border: 1px solid black;
    width: 60%;
    padding: 3% 0;
    margin: 3% auto;
    background: rgba( 21, 21, 21, 0.40 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.container form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 3% 0;
}
.container form p{
    font-size: 20px;
    font-weight: 900;

}

.container form input{
    width: 60%;
    padding: 2.5% 1%;
    margin: 1%;
    margin: 0;
}
.sel{
    text-align: left;
    font-weight: 900;
    color: black;
    width: 60%;
    margin: 3% auto;
}
.container form .submit{
    background: none;
    cursor: pointer;
    margin: 2% auto;
    font-size: 18px;
    font-weight: 900;
    border: none;
    color: wheat;
    border-radius: 3%;
    background: rgba( 99, 0, 0, 0.90 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
}
.container form .submit:hover{
    background: blue;
}