@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Abhaya Libre', serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
