.wrapper{
    text-align: center;
    display: flex;
    font-family: 'Abhaya Libre', serif;
    background-image: url("../../public//aboutBG.jpeg");  
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.textbox{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    color: rgb(7, 7, 7);
    background: rgba( 247, 234, 234, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
} 

.textbox>h1 {
    font-size: 45px;
    font-weight: 600;
}
.textbox>p{
    font-size: 20px;
}